body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(60, 120, 160);
}

#babylonContainer{
    width: 100%;
    height: 100%;
    position: relative;
}

.label {
    color: white;
    font-family: sans-serif;
    padding: 2px;
    background: rgba( 0, 0, 0, .6 );
}
